.NowPlaying {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 2em;
  width: 80vw;

  color: white;
  background: linear-gradient(
    to right,
    rgba(0 0 0 / 95%) 260px,
    rgba(0 0 0 / 80%) 260px,
    transparent 90%
  );

  font-family: "Clearwater", sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.NowPlaying__Label {
  display: block;
  width: 220px;
  margin-left: 40px;
  text-align: center;
}

.NowPlaying__Title {
  position: absolute;
  top: 0;
  left: 260px;
  min-width: 100px;
  padding: 0 0.75em;

  color: white;
  paint-order: stroke fill;
  -webkit-text-stroke: 0.2em black;

  font-family: "Clearwater", sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.Lines {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25vh;

  font-family: "Franxurter Totally", sans-serif;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
}

.Line {
  height: 56px;
}

.Part {
  --text-color: #fff;
  --stroke-color: #000;
  --shadow-color: #000;

  color: var(--text-color);
  paint-order: stroke fill;
  -webkit-text-stroke: 0.2em var(--stroke-color);
  filter: drop-shadow(0.05em 0.05em var(--shadow-color));
}

.Part--Voiced {
  --text-color: oklch(from var(--vocalist-colour) 0.998 0.05 h);
  --stroke-color: var(--vocalist-colour);
  --shadow-color: color-mix(in oklab, var(--vocalist-colour) 15%, #000);
}

.Vocalist--backing {
  opacity: 0.825;
  font-style: italic;
}

/* only apply to known vocalists; ensures that other vocalists don't get blank space */
.Vocalist--dani,
.Vocalist--b\.na,
.Vocalist--robin,
.Vocalist--lili,
.Vocalist--lirie {
  padding-left: 1.2em;

  &::before {
    content: "";
    position: absolute;
    top: -0.05em;
    left: -0.1em;
    bottom: 0em;
    width: 1.3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.Vocalist--dani {
  &::before {
    background-image: url("../assets/vocalists/dani.png?inline");
  }
}

.Vocalist--b\.na {
  &::before {
    background-image: url("../assets/vocalists/bna.png?inline");
  }
}

.Vocalist--robin {
  &::before {
    background-image: url("../assets/vocalists/robin.png?inline");
  }
}

.Vocalist--lili {
  &::before {
    background-image: url("../assets/vocalists/lili.png?inline");
  }
}

.Vocalist--lirie {
  &::before {
    background-image: url("../assets/vocalists/lirie.png?inline");
  }
}
