@font-face {
  font-family: "Franxurter Totally";
  src: url("./assets/fonts/FranxurterTotallyMedium.woff2?inline")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clearwater";
  src: url("./assets/fonts/Clearwater.woff2?inline") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  overflow: hidden;
}
